<div style="background-color: #0c2538" class="text-white">
  <div class="container">
    <div class="row py-2">
      <div class="col-sm">
        <img src="../../../../assets/logo.jfif" alt="Perfumale Logo" height="100">
      </div>
      <div class="col-sm d-flex justify-content-center align-items-center">
          BARRA BUSQUEDA U OTRA COSA
      </div>
      <div class="col-sm d-flex justify-content-end align-items-center gap-3">
        <div>Icono1</div>
        <div>Icono2</div>
        <div>Icono3</div>
      </div>
    </div>
  </div>
</div>
