<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img [src]="urlImagen" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Chanel</h1>
      <p>Blue</p>
      <p class="container">Blue de Chanel es una fragancia masculina que encarna elegancia y sofisticación. Con una mezcla fresca y amaderada, sus notas de salida de cítricos y menta se combinan con un corazón de jengibre y nuez moscada, mientras que la base revela vetiver, sándalo y pachulí.</p>
    </div>
  </div>
</div>
