<footer class="footer text-sm-center">
    <div class="row">
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <img src="../../../../assets/logo.jfif" alt="Perfumale Logo" height="150">
      </div>
      <div class="col-md-3">
        <h5>Sobre Nosotros</h5>
        <p>Somos una empresa dedicada a proporcionar las mejores soluciones tecnológicas.</p>
      </div>
      <div class="col-md-3">
        <h5>Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contacto</h5>
        <div>
          <a href="https://www.instagram.com/perfumalefragancias/" class="text-white text-decoration-none" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-instagram"></i>
          Instagram
          </a>
        </div>
          <div>
            <i class="fa-regular fa-envelope"></i>
            Email: thisthisandthis&#64;tirate.com
          </div>
        <div>
          <i class="fa-solid fa-phone"></i>
          Teléfono: (2954) 123456</div>
      </div>
    </div>
</footer>
